# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: s3cmd/s3cmd:latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          node-version: 12
            #- run: npm ci
      #- run: scp index.html ${{secrets.YACLOUD_SSH_USER}}@${{secrets.YACLOUD_SSH_IP}}
      - run: s3cmd -c s3cfg --access_key={{secrets.YACLOUD_SA_KEY_IDENTIFIER}} --secret_key={{secrets.YACLOUD_SA_SECRET_KEY}} --debug ls
